{% extends "base.html.twig" %}
{% block title %} {{ parent() }} -edit {% endblock %}
{% block titre %} {{parent()|upper}} - consultation de {{job.getType()}} {% endblock %}

{% block body %}
<h1> Entreprise {{job.company}} </h1>
<h2> {{job.getDescription()}} </h2>
<h2> Date d'expiration {{job.getExpiresAt()| date('d-m-Y')}} </h2>
{% endblock %}
